* {
  	box-sizing: border-box;
  	margin: 0;
  	padding: 0;
}
  
body {
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ4JNLR-s3D1A_gmxmUBL91EdcSPtXHZ48IOjNqprFVP0EqVFSn&usqp=CAU);
	background-size: auto 100vh;
	font-family: Arial;
	height: 100vh;
}

@media (min-width: 400px) {
	body {
		font-size: 14px;
	}
}
  
@media (min-width: 600px) {
	body {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	body {
		font-size: 22px;
	}
}

header {
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
}
  
.menu {
	background-color: #FFFFFF;
	position: fixed;
	top: 0;
	width: 100vw;  
}
  
.menu ul {
	display: flex;
	justify-content: space-around;
}
  
.menu li {
  	list-style: none;
}

.menu a{
	display: block;
	padding: 10px 20px;
}

a {
	color: teal;
	text-decoration: none;
}
  
a:hover {
  	text-decoration: underline;
}

.info h1,
.info h2,
.info h3 {
	padding-top: 10px;
	padding-bottom: 10px;
}
  
.site-title {
	color: whitesmoke;
	text-align: center;
}
  
.site-subtitle {
	color: silver;  
	font-style: lighter;
	text-align: center;
}

.formacao {
	color: silver;
	align-content: center;
	font-style: lighter;
	text-align: center;
}

#experiencia {
	height: 100vh;
}

#experiencia h2{
	color: whitesmoke;
	text-align: center;
	padding: 50px;
}

#experiencia div{
	display: flex;
	justify-content: space-evenly;
	padding: 10px;
}

@media (min-width: 400px) {
	#experiencia div{
		padding: 20px;
	}
}
  
@media (min-width: 600px) {
	#experiencia div{
		padding: 50px;
	}
}

#experiencia figure{
	height: 206px; 
	width: 180px;
}

#experiencia figcaption{
	color: whitesmoke;
	text-align: center;
}

.img-portfolio{
	height: 180px;
	width: 180px;
}
